@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  --header_footer-bg: rgba(242, 234, 234, 1);
  --app-bg: rgba(250, 247, 242, 1);
  --high-bg: rgba(248, 119, 119, 1);
  --mid-bg: rgba(240, 209, 168, 1);
  --low-bg: rgba(174, 223, 174, 1);
  --input-bg: rgba(219, 226, 239, 1);
  --primary-font-color: black;
  --secondary-font-color: rgba(92, 92, 87, 0.9);
  --third-font-color: rgb(12, 140, 160);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  height: 100dvh;
  font-family: "Nunito Sans", sans-serif;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--header_footer-bg);
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 70px;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.05),
    inset 0 -8px 10px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding: 30px;
  color: var(--third-font-color);
}

.app {
  background-color: var(--app-bg);
  border-radius: 30px;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.create-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.todo-input {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.todo-title,
.todo-details,
.date {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);
  height: 30px;
  width: 200px;
  color: var(--secondary-font-color);
}

button {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: rgba(92, 153, 103, 1);
  color: white;
  font-size: 25px;
}

/* todo list tools */
.todo-list {
  margin: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tools {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

/* Todo List */

.list {
  min-height: 200px;
  max-height: 700px;
  min-width: 400px;
  max-height: 700px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 250px;
  gap: 20px;
}

.todo-card {
  background-color: var(--mid-bg);
  border-radius: 15px;
  padding: 15px;
}

.title-card {
  font-size: 1.2rem;
}

.details-card {
  font-size: 0.8rem;
}

.date-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(auto-fit, 30px);
}

/* Summary */

.summary {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.summary-card {
  height: 110px;
  width: 110px;
  background-color: rgba(196, 164, 159, 1);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.summary-card h3 {
  font-size: 1rem;
}

.summary-card h4 {
  font-size: 2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header_footer-bg);
}
